@import 'typography.css';
@import 'variables.css';

body {
  position: relative;
  background-color: var(--theme-background);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--theme-color);
}

.app-drawer__inner {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 8px;
  height: 100vh;
  width: 120px;
  display: flex;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.3);
  -moz-box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.3);
  box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.3);
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  padding-left: 8px;
  background-color: var(--theme-background);
}

.container {
  width: calc(100vw - 168px);
  margin-right: 24px;
}

.app-cabinet {
  position: fixed;
  right: 12px;
  top: 8px;
}

.btn {
  outline: none;
  border: none;
  color: var(--theme-color);
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid var(--theme-primary);
  color: var(--theme-primary);
}

.app-drawer__name,
.app-drawer__name a,
.app-drawer__rout,
.app-drawer__rout a{
  text-decoration: none;
  color: var(--theme-color);
  font-size: 1rem;
  font-family: 'Noto', sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
